
<div class="container-new">
  <h1>Create your recipe</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :ingredient, collection: Ingredient.all, input_html: { multiple: true, class: 'multiple-select' }, include_hidden: false %>
    <%= f.submit %>
  <% end %>
</div>
