.cardcontainer {
  margin: 0;
}

.container-new {
  font-family: 'Cedarville Cursive', cursive;
}

.card-trip .box{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-bottom: 8px;
  padding: 5px 5px 5px 5px;
}

// .card-trip .box{
//   // overflow: hidden;
//   // background: white;
//   // box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   margin-top: 18px;
//   margin-bottom: 8px;
//   padding: 0 5px 0 5px;
// }


.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  font-family: 'Cedarville Cursive', cursive;
}

.card-trip p {
  font-size: 18px;
  opacity: .7;
  margin: 0;
  font-family: 'Cedarville Cursive', cursive;
}


.card-trip .card-trip-infos {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background: white;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// .card-trip-infos #delete-btn {
//   position: right 0;
  // right: 16px;
  // top: -20px;
  // width: 40px;
// }
